@import '../../../../.cache/wal/colors.scss';


* {
    all: unset;
}


.bar {
    font-family: "Google Sans";

    color: $foreground;
    background-color: $background;
}


.active-window-title {
    font-weight: 500;
}


.workspace-entry {
    margin: 6px 0px;
    padding: 0px 2px;

    color: $color8;
}


.workspace-entry.current {
    border-radius: 4px;

    color: $background;
    background-color: $color8;
}


.workspace-entry.occupied {
    color: $foreground;
}
