@import "../../../.cache/wal/colors.scss";

* {
  all: unset;
}

.bar {
  color: $foreground;
  background-color: $background;
}

.workspace-entry {
  margin: 6px 0px;
  padding: 0px 2px;

  color: $color8;
}

.workspace-entry.current {
  border-radius: 4px;

  color: $background;
  background-color: $color8;
}

.workspace-entry.occupied {
  color: $foreground;
}

.workspace-entry.previous {
  font-weight: bold;
}

.active-window-title {
  font-weight: 500;
}

.battery.critical.Discharging {
  color: $color1;
}

.battery.warning.Discharging {
  color: $color3;
}

.battery.normal.Discharging {
  color: $foreground;
}

.battery.charged.Discharging {
  color: $color2;
}

.battery.critical.Charging {
  color: $color6;
}

.battery.warning.Charging {
  color: $color6;
}

.battery.normal.Charging {
  color: $color6;
}

.battery.charged.Charging {
  color: $color2;
}
