@import "../../../.cache/wallust/colors.scss";

* {
  all: unset;
}

.bar {
  color: $foreground;
  background-color: $background;
}

.workspace {
  margin: 6px 0px;
  padding: 0px 2px;

  border-radius: 4px;
}

.workspace.empty {
  color: $color8;
}

.workspace.occupied {
  color: $foreground;
}

.workspace.hasfullscreen {
  color: $color1;
}

.workspace.current {
  background-color: $color8;
}

.workspace.hasfullscreen.current {
  background-color: $color1;
  color: $foreground;
}

.workspace.empty.current {
  color: $background;
}

.active-window-title {
  font-weight: 600;
}

.battery.critical.Discharging {
  color: $color1;
}

.battery.warning.Discharging {
  color: $color3;
}

.battery.normal.Discharging {
  color: $foreground;
}

.battery.charged.Discharging {
  color: $color2;
}

.battery.critical.Charging {
  color: $color6;
  font-weight: 600;
}

.battery.warning.Charging {
  color: $color6;
  font-weight: 600;
}

.battery.normal.Charging {
  color: $color6;
  font-weight: 600;
}

.battery.charged.Charging {
  color: $color2;
  font-weight: 600;
}
